<section class='bg-grayLight'>
  <div
    class='flex flex-col items-center justify-center px-6 mx-auto md:pt-4 lg:py-0'
  >
    <div
      class='w-full bg-white rounded-lg betterShadow md:mt-0 sm:max-w-md xl:p-0'
    >
      <div class='p-6 space-y-4 md:space-y-6 sm:p-8'>
        <h1
          class='text-xl font-bold leading-tight tracking-tight text-grayDark md:text-2xl'
        >
          Sign in to your account
        </h1>
        <form class='space-y-4 md:space-y-6' action='#'>
          <div>
            <label
              for='email'
              class='block mb-2 text-sm font-medium text-grayDark'
            >Your email or username</label>
            <input
              type='email'
              name='email'
              id='username-email-input-login'
              class='bg-grayLight border border-grayDark text-grayDark sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5'
              placeholder='hello@email.com'
              required=''
            />
          </div>
          <div>
            <label
              for='password'
              class='block mb-2 text-sm font-medium text-grayDark'
            >Password</label>
            <input
              type='password'
              name='password'
              id='password-input-login'
              placeholder='••••••••'
              class='bg-grayLight border border-grayDark text-grayDark sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5'
              required=''
            />
          </div>
          <div class='flex items-center justify-between'>
            <div class='flex items-start'>
              <div class='flex items-center h-5'>
                <input
                  id='remember'
                  aria-describedby='remember'
                  type='checkbox'
                  class='w-4 h-4 border border-grayDark rounded bg-grayLight focus:ring-3 focus:ring-primary-300'
                />
              </div>
              <div class='ml-3 text-sm'>
                <label for='remember' class='text-grayDark'>Remember me</label>
              </div>
            </div>
            <a
              href='/forgot'
              class='text-sm font-medium text-primary-600 hoverUnderline w-fit'
            >Forgot password?</a>
          </div>
          <button
            type='submit'
            id='login-form'
            class='w-full text-white bg-blue hover:bg-grayDark hover:text-offWhite transition-all ease-in-out duration-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800'
          >Sign in</button>
          <p class='text-sm font-light text-grayDark dark:text-gray-400'>
            Don’t have an account yet?
            <a
              href='/signup'
              class='font-medium text-grayDark hoverUnderline w-fit'
            >
              Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>