<div class='bg-offWhite border border-grayDark p-4 mb-4'>
  <p class='text-grayDark mb-2'>
    {{content}}
  </p>
  <p class='text-grayDark text-sm'>
    &mdash; {{user.name}}, {{formatDate createdAt}}
  </p>
</div>