<div class='bg-grayLight border border-grayDark'>
  <p class='text-grayDark'>
    {{body}}
  </p>
  <p class='text-grayDark'>
    &mdash;
    {{user.username}},
    {{formatDate createdAt}}
  </p>
</div>