<footer class='w-full border-t bg-offWhite pb-12'>
  <div class='w-full container mx-auto flex flex-col items-center'>
    <div
      class='flex flex-col md:flex-row text-center md:text-left md:justify-between py-6'
    >
      <a href='https://github.com/jakepears' target='_blank' class='px-3'><p
          class='hoverUnderlineDark w-fit px-1'
        >Jake Pearson</p></a>
      <a href='https://github.com/mbyford49' target='_blank' class='px-3'><p
          class='hoverUnderlineDark w-fit px-1'
        >Mike Byford</p></a>
      <a
        href='https://github.com/AliyusUnderwood'
        target='_blank'
        class='px-3'
      ><p class='hoverUnderlineDark w-fit px-1'>Aliyus Underwood</p></a>
      <a href='https://github.com/Edesp1' target='_blank' class='px-3'><p
          class='hoverUnderlineDark w-fit px-1'
        >Eduardo Espinoza Lopez</p></a>
    </div>
    <div class='uppercase pt-3 font-bold'>&copy; sportyblog.com</div>
  </div>
</footer>